body, html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    align-self: flex-start;
    padding: 3px 18px;
}

.welcome {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
}
